CERTIPROOF_IMAGE_PREFIX=ghcr.io/asxzsa558/certiproof
CERTIPROOF_VERSION=replace-with-immutable-version
CONTROL_PLANE_URL=https://certiproof.example.com
ENROLL_TOKEN=replace-with-one-time-enrollment-token
NODE_LOCAL_SECRET=replace-with-openssl-rand-hex-32
ALLOW_INSECURE_CONTROL_PLANE=false

NODE_WORKER_MEMORY_LIMIT=1g
NODE_WORKER_CPU_LIMIT=1.0
TOOL_MEMORY_LIMIT=1g
TOOL_CPU_LIMIT=1.0
SECURITY_TOOL_MEMORY_LIMIT=2g
SECURITY_TOOL_CPU_LIMIT=2.0
WEB_TOOL_MEMORY_LIMIT=2g
WEB_TOOL_CPU_LIMIT=2.0
LOG_MAX_SIZE=20m
LOG_MAX_FILES=5
